i{

    cursor: pointer;
    padding: 7px;
    border-radius: 5px;

    &:hover{

        background-color: var(--hover-color);
        transition: background-color var(--hover-icons-animation-duration) var(--hover-icons-animation-type);

    }

}